<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore ipsam placeat eos quibusdam, autem quaerat minima, laboriosam, dolorum et nam officia cumque voluptatum mollitia? Aspernatur enim numquam aliquam minima quasi!</p>